*.sh
!/script/*.sh
*.test
.*.local
coverage.out
/bin
# intellij files
.idea/
vendor/
.DS_Store
.vscode
# vim temp files
*.swp

# goenv local version. See https://github.com/syndbg/goenv/blob/master/COMMANDS.md#goenv-local for more info.
.go-version

# golangci-lint -v custom generates the following local file:
custom-gcl
